<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reciplease!</title>
    <link rel="stylesheet" type="text/css" href="recipe.css" />
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Reciplease</h1>
        <p>Find recipes depending on what ingredients you have on hand!</p>
      </header>

      <main>
        <section id="sectionOne">
          <form action="/reciplease" method="POST">
            <div id="login" class="form-inline">
              <h2>Login/Register</h2>
              Name:
              <input type="text" name="name" required />
              <label for="ingredients"><h2 id="ingredientsTitle">Ingredients</h2></label><br><br>
              <input
                type="text"
                id="ingredients"
                name="ingredients"
                placeholder="e.g., flour, sugar, eggs"
                class="half-width"
              />
            </div>
            <button type="submit">Find Recipes</button>
          </form>
        </section>

        <section>
          <% if (recipes.length > 0) { %>
          <h1>Recipes</h1>
          <ul>
            <% recipes.forEach(recipe => { %>
            <li>
              <h3><%= recipe.name %></h3>
              <img src="<%- recipe.image %>" alt="<%- recipe.name%>" />
              <p><strong>Summary:</strong> <br><%= recipe.summary %></p>
              <a href="<%= recipe.url %>" target="_blank">View Full Recipe</a>
            </li>
            <% }); %>
          </ul>
          <% } %>
        </section>
      </main>
    </div>
  </body>
</html>
